.app-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.library-input {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.book-edit-input {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.library-button {
    padding: 10px;
    margin-right: 10px;
}

.book-button{
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.edit-button {
    padding: 10px;
    margin-left: 10px;
}

.book-list {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.book-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}

.book-cover{
    width: 130px;
    height: 160px;
    margin-right: 20px;

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.book-delete-button {
    color: red;
}
